<div class="categorie-container">
  
 <!-- Section pour la recherche et ajouter une catégorie -->
 <div class="header-section">
    <p>Liste des Interviews</p>

    <input
      type="text"
      class="search-input"
      placeholder="Rechercher une catégorie"
      [(ngModel)]="searchTerm"
      (input)="loadInterviews()"
    />
    <button class="btn btn-primary" (click)="openModal('create')">Ajouter une Interview</button>
  </div>
    <!-- Bouton pour ouvrir le modal -->
   

    <!-- Liste des interviews existantes -->
   
    <div class="table-container">
        <!-- Table des interviews -->
        <table class="category-table">
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Description</th>
                    <th>Métier</th>
                    <th>Tranche Age</th>
                    <th>Date</th>
                    <th>Vidéo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let interview of interviews; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ interview.description }}</td>
                    <td>{{ interview.metier?.nom }}</td>
                    <td>{{ interview.trancheage?.description}}</td>
                    <td>{{ interview.date | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <video *ngIf="interview.url" [src]="'http://localhost:8080/' + interview.url" controls width="200"></video>
                    </td>
                    <td>
                        <button class="btn btn-edit" (click)="openModal('edit', interview)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-delete" (click)="supprimerInterview(interview.id!)">
                            <i class="fas fa-trash"></i>
                        </button>
                        <button class="btn btn-info" (click)="regarderInterview(interview.id!)">
                            <i class="fas fa-eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Message si la liste est vide -->
    <div *ngIf="interviews.length === 0" class="empty-message">
        <p>Aucune interview disponible.</p>
      
    </div>

    <!-- Modal pour ajouter ou éditer une interview -->
    <div class="modal" [ngClass]="{'show': isModalOpen}" *ngIf="isModalOpen">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ isEditing ? 'Modifier l\'Interview' : 'Ajouter une Interview' }}</h2>
            <form (ngSubmit)="ajouterOuModifierInterview()">
                <div class="form-group">
                    <label for="duree">Durée:</label>
                    <input type="text" id="duree" [(ngModel)]="modalInterview.duree" name="duree" required class="form-control" />
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" [(ngModel)]="modalInterview.description" name="description" required class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="description">Titre:</label>
                    <textarea id="titre" [(ngModel)]="modalInterview.titre" name="titre" required class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="metier">Métier:</label>
                    <select id="metier" [(ngModel)]="modalInterview.metier" name="metier" class="form-control" required>
                        <option value="" disabled selected>Choisissez un métier</option>
                        <option *ngFor="let metier of metiers" [ngValue]="metier">{{ metier.nom }}</option>
                    </select>
                </div>

                
                <div class="form-group">
                    <label for="trancheage">Tranche Age:</label>
                    <select id="trancheage" [(ngModel)]="modalInterview.trancheage" name="trancheage" class="form-control" required>
                      <option value="" disabled selected>Choisissez un tranche age</option>
                      <option *ngFor="let trancheage of trancheages" [ngValue]="trancheage">{{ trancheage.description }}</option>
                    </select>
                  </div>
          

                <div class="form-group">
                    <label for="fichier">Fichier Vidéo:</label>
                    <input type="file" id="fichier" (change)="onFileSelected($event)" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary">{{ isEditing ? 'Modifier l\'Interview' : 'Ajouter l\'Interview' }}</button>
            </form>
        </div>
    </div>
</div>
