<div class="categorie-container">
  <div class="header-section">
    <h1>Gestion des Questions</h1>

   
    <button type="button" class="btn btn-primary" (click)="openModal()">
      Ajouter une Question
    </button>
  </div>

  
     
  <div class="table-container">
    <table class="category-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Description</th>
        
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
     
        <tr *ngFor="let question of questions">
          <td>{{ question.id }}</td>
          <td>{{ question.texte }}</td>
          <td>{{ question.reponse }}</td>
          <td>{{ question.point }}</td>
          <button (click)="supprimerQuestion(question.id!)" class="btn btn-delete">
            Supprimer
          </button>
         
          
        </tr>
      </tbody>
    </table>
   
     
      
     
   

    <div *ngIf="questions.length === 0" class="empty-message">
      <p>Aucune question disponible.</p>
    </div>
  </div>

  <!-- Modal -->
  <div id="ajouterQuestionModal" class="modal" tabindex="-1" role="dialog" style="display: none;" [ngClass]="{'show': isModalOpen}" [ngStyle]="{display: isModalOpen ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter une Question</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="ajouterQuestion()">
            <div class="form-group">
              <label for="texte">Texte de la question:</label>
              <input type="text" id="texte" [(ngModel)]="newQuestion.texte" name="texte" required class="form-control" />
            </div>

            <div class="form-group">
              <label for="point">Points:</label>
              <input type="number" id="point" [(ngModel)]="newQuestion.point" name="point" required class="form-control" />
            </div>

            <div class="form-group">
              <label for="typeQuestion">Type de question:</label>
              <select id="typeQuestion" [(ngModel)]="newQuestion.typeQuestion" name="typeQuestion" required class="form-control">
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
              </select>
            </div>

            <div *ngIf="newQuestion.typeQuestion === 'JEU_DE_ROLE'" class="form-group">
              <label for="jeuDeRole">Sélectionner un jeu de rôle:</label>
              <select id="jeuDeRole" [(ngModel)]="selectedJeuDeRoleId" name="jeuDeRole" required class="form-control">
                <option *ngFor="let jeu of jeuxDeRole" [value]="jeu.id">{{jeu.nom}}</option>
              </select>
            </div>

            <div *ngIf="newQuestion.typeQuestion === 'Quiz'" class="form-group">
              <label for="quiz">Sélectionner un quiz:</label>
              <select id="quiz" [(ngModel)]="selectedQuizId" name="quiz" required class="form-control">
                <option *ngFor="let quiz of quiz" [value]="quiz.id">{{quiz.titre}}</option>
              </select>
            </div>

            <h3>Ajouter une Réponse</h3>
            <div class="form-group">
              <label for="reponse">Réponse :</label>
              <select id="reponse" [(ngModel)]="newQuestion.reponseId" name="reponse" required class="form-control">
                <option *ngFor="let reponse of reponses" [value]="reponse.id">{{ reponse.reponsepossible }}</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter Question avec Réponse</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
