<div class="container">
  <h2>Gestion des Métiers</h2>

  <form (ngSubmit)="createMetier()" #metierForm="ngForm">
    <div class="form-group">
      <label for="nom">Nom du Métier:</label>
      <input type="text" id="nom" [(ngModel)]="newMetier.nom" name="nom" required class="form-control" />
    </div>
    
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" [(ngModel)]="newMetier.description" name="description" required class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="categorie">Catégorie:</label>
      <select
        id="categorie"
        [(ngModel)]="newMetier.categorie"
        name="categorie"
        required
        class="form-control"
      >
        <option value="" disabled selected>Choisissez une catégorie</option>
        <option *ngFor="let categorie of categories" [ngValue]="categorie"> <!-- Utilisez ngValue pour l'objet -->
          {{ categorie.nom }}
        </option>
      </select>
    </div>
    <div>
      <label for="file">Select a video:</label>
      <input type="file" (change)="onImageChange($event)">
    </div>

    <button type="submit" class="btn btn-primary">Ajouter Métier</button>
  </form>

  <hr />

  <h3>Liste des Métiers</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
      
        <th>categorie</th>
          <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let metier of metiers">
        <td>{{ metier.id }}</td>
        <td>{{ metier.nom }}</td>
        <td>{{ metier.description }}</td>
        <td>{{ metier.categorie?.nom }}</td> <!-- Access the category name directly -->
        <td>
          <img *ngIf="metier.imageUrl" [src]="'http://localhost:8080/' + metier.imageUrl" alt="Image du métier" width="1500">
        </td>
        <td>
          <button (click)="deleteMetier(metier.id)" class="btn btn-danger">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
